[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
matplotlib = "*"
seaborn = "*"
scipy = "*"
numpy = "*"
ipython = "*"
jupyter = "*"
sympy = "*"
nose = "*"
pandas-datareader = "*"
scikit-learn = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.9"
